/* Badges Section */
.badges-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.5rem;
  align-items: stretch;
}

.badge-item-link {
  text-decoration: none;
  color: inherit;
  display: flex; 
  flex-direction: column;
  height: 100%;
}
.badge-item-link:hover {
  text-decoration: none;
}

.badge-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.badge-item.card{
  height: 100%;
  border: 2px solid var(--border-color);
}

.badgename{
  overflow-wrap: break-word; /* Standard way to wrap long text */
  word-break: break-word;    /* Hard break for long words without spaces */
  hyphens: auto;             /* Adds hyphens (-) if a word is cut */
}

.badge-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background: #fff;
  border-radius: 50%;
}

.badge-item-link.highlight .badge-item {
  box-shadow: 0 0 10px 3px rgba(255, 107, 0, 0.8);
  border: 2px solid #ff6b00;
  transition: box-shadow 0.3s, border 0.3s;
}